@import "tailwindcss";
@import "../../../../shared/ui/css/tailwind-bridge.css";
@source "../../../../shared/ui";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-display);
    user-select: none;
  }
}
